<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="xmlns://www.fortify.com/schema/pluginmanifest-1.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="PluginDescriptor"
        id="com.fortify.plugin.burp.BurpParserPlugin" api-version="1.0">
    <plugin-info>
        <name>Burp Suite Parser Plugin</name>
        <version>1.2.4</version>
        <data-version>1</data-version>
        <vendor name="OpenText" url="https://www.microfocus.com/en-us/cyberres/application-security"/>
        <description>Parser for Burp Suite vulnerability scanner results.</description>
        <resources>
            <images>
                <image imageType="icon" location="/images/icon.png"/>
                <image imageType="logo" location="/images/logo.png"/>
            </images>
        </resources>
    </plugin-info>
    <issue-parser xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <engine-type>BURP</engine-type>
        <view-template location="/viewtemplate/ViewTemplate.json">
            <description>Default vulnerability view template for Burp Suite.</description>
        </view-template>
    </issue-parser>
</plugin>
